*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.metas{
    height: 25vh;
    width: 20vw;
    background-color: aqua;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    
}
#adicionar-meta{
    width: 8vw;
    height: 3vh;
    border-radius: 10px;
    display: inline-flex;
}
